services:
  webapp:
    image: bwkt-webapp:prod
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - DATA_CATALOG_URL=http://catalog-api:8080/api/videos
      - DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID}
      - DISCORD_CLIENT_SECRET=${DISCORD_CLIENT_SECRET}
      - OAUTH_CALLBACK_URL=${OAUTH_CALLBACK_URL}
    ports:
      - "80:8080"
    restart: unless-stopped
    volumes:
      - web-data:/app/data
    build:
      args:
        BUILD_CONFIGURATION: Release

  catalog-api:
    image: bwkt-catalog-api:prod
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://0.0.0.0:8080
    # Hide API from external network in prod
    ports: []
    restart: unless-stopped
    build:
      args:
        BUILD_CONFIGURATION: Release

volumes:
  web-data:
