services:
  webapp:
    image: bwkt-webapp:prod
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - DATA_CATALOG_URL=http://catalog-api:8080/api/videos
      - DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID}
      - DISCORD_CLIENT_SECRET=${DISCORD_CLIENT_SECRET}
      - OAUTH_CALLBACK_URL=${OAUTH_CALLBACK_URL}
      - ADMIN_USER_IDS=${ADMIN_USER_IDS}
    ports:
      - "80:8080"
    restart: unless-stopped
    volumes:
      - web-data:/app/data
    build:
      args:
        BUILD_CONFIGURATION: Release

  catalog-api:
    image: bwkt-catalog-api:prod
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://0.0.0.0:8080
      - DATA_JSON_PATH=/app/data/videos.json
      - DATA_RATINGS_PATH=/app/data/ratings.json
      - API_INGEST_TOKENS=${API_INGEST_TOKENS}
      - DATA_SUBTITLES_ROOT=/app/data/subtitles
      - DATA_SUBMISSIONS_PATH=/app/data/submissions.json
    # Hide API from external network in prod
    ports: []
    restart: unless-stopped
    build:
      args:
        BUILD_CONFIGURATION: Release
    volumes:
      - api-data:/app/data

volumes:
  web-data:
  api-data:
