@page
@model bwkt_webapp.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<p>This will sign you in with Discord. Wiring is coming soon.</p>

<a class="btn btn-primary" href="#" role="button" aria-disabled="true" tabindex="-1">Login with Discord</a>

